




    <!-- Page Header Start -->
    <div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
        <img class="img-fluid w-100" src="img/floral-fantasy-01.jpg">
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown"><br>Buy Ticket</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Buy Tickets</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- Buy Ticket Start -->
    <div class="bg-light">
        <div class="container">
            <div class="row center-content">
                <div class="col-md-6">
                    <br><br>
                    <h1>Gardens by the Bay</h1>
                    <p>Discover the enchanting Gardens by the Bay, a horticultural oasis in the heart of Singapore.
                        Immerse
                        yourself in the beauty of nature and marvel at the stunning Supertrees and unique plant
                        collections.
                    </p>
                </div>
                <div class="col-md-6">
                    <form action="/api/booking" method="POST" novalidate>
                        <!-- <div class="form-group">
                            <label for="name">Your name</label>
                            <input type="text" class="form-control" id="name" name="name" required>
                        </div> -->
                        <div class="form-group">
                            <label for="attraction">Attraction</label>
                            <select class="form-control" id="attraction" name="attraction" required>
                                <option value="A">Flower Dome</option>
                                <option value="B">Cloud Forest</option>
                                <option value="C">Floral Fantasy</option>
                                <option value="D">Supertree Observatory</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="ticket">Ticket</label>
                            <input type="number" class="form-control" id="ticket" name="ticket" required>
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="date" name="date" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone number</label>
                            <input type="text" class="form-control" id="phone" name="phone" required>
                        </div>
                        <!-- <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div> -->
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Buy Ticket End -->

    