


    <!-- Page Header Start -->
    <div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
        <img class="img-fluid w-100" src="img/cloud-forest-night-main-carousel-1.jpg"> 
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown"><br>Cloud Forest</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Things To Do</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Cloud Forest</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/DP01-4-3-explore-cloudwalk.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Cloud Walk</h1>
                    <p class="mb-4">Take a stroll along the Cloud Walk as you descend the mountain. Admire the vibrant epiphytes that clad the mountain’s sides as you enjoy panoramic views of the Gardens and Marina Bay.</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/DP01-4-3-explore-cavern.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">The Cavern</h1>
                    <p class="mb-4">Learn about the characteristics of cloud forest habitats around the world, as well as and unusual species unique to them. Be wowed by the amazing adaptations of epiphytes - these plants don’t grow in soil, but rely on the support of other plants to thrive! </p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/waterfall_view.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Waterfall View</h1>
                    <p class="mb-4">Take a moment to appreciate Earth’s fresh water sources, learning how epiphyte-laden branches help cloud forests capture water droplets from mist and fog.</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/DP01-4-3-explore-crystalmountain.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Crystal Mountain</h1>
                    <p class="mb-4">Bask in the company of real stalactites and stalagmites at Crystal Mountain, in dive into a bit of geology! Learn about how continents formed, the age of the Earth, as well as the importance of fossils in understanding our planet's past.</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/DP01-4-3-explore-treetopwalk.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Tree Top Walk</h1>
                    <p class="mb-4">From the foot of the mountain, look up and feast your eyes on the luxuriant forest canopy sprawling across the Tree Top Walk. </p>
                </div>
            </div>
            </div>

            </div>
>        </div>
    </div>
    <!-- Blog End -->


    