


    <!-- Page Header Start -->
    <div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
        <img class="img-fluid w-100" src="img/floral-fantasy-01.jpg"> 
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown"><br>Floral Fantasy</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Things To Do</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Floral Fantasy</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/floral-fantasy-1.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Escape into the surreal</h1>
                    <p class="mb-4">A stone’s throw from Bayfront MRT station, Floral Fantasy offers a magical escape among suspended bouquets and creative floral arrangements. Here, explore diverse garden landscapes that segue into each other through a meandering space. Along the way, stop by a vivarium populated by tiny poison dart frogs in a gamut of stunning hues!</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/ff-dance.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Dance</h1>
                    <p class="mb-4">Be dazzled by a canopy of suspended flowering plants decked in a fistful of vibrant colours at Dance, the first of Floral Fantasy’s four distinctive garden landscapes. Your eyes aren’t playing tricks on you — these overhanging beauties are swaying sinuously just like they’re dancing in the air! </p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/ff-waltz2.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Waltz</h1>
                    <p class="mb-4">Anything but mundane, Waltz enchants with a rain oasis, flowers among cascading rockscape, winding driftwood, as well as a poison dart frog vivarium. Try spotting these adorable amphibians: despite being tiny, their brilliant colours are hard to miss! </p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/ff-drift.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Drift</h1>
                    <p class="mb-4">Come away to Drift, Floral Fantasy’s final garden landscape&nbsp;— a cave-like space ringed with terraced rock formations. Encounter over 50 species of intriguing plants that hail from Central and South America, alongside begonias, huperzias and orchids gently illuminated with soft lighting.</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/ff-4d-flight.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Fantasy Theatre - 'Flight of the Dragonfly' 4D Ride</h1>
                    <p class="mb-4">Take a simulated flight around Gardens by the Bay through a dragonfly’s eyes in this immersive experience!</p>
                </div>
            </div>
            </div>

            </div>
>        </div>
    </div>
    <!-- Blog End -->


    