


    <!-- Page Header Start -->
    <div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
        <img class="img-fluid w-100" src="img/flower-dome-main-1.jpg"> 
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown"><br>Flower Dome</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Things To Do</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Flower Dome</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/about-us-1.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Where flowers never stop blooming</h1>
                    <p class="mb-4">Get up-close with unusual plants native to a range of unique habitats – from the Mediterranean region, to South African savannahs and arid deserts!</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/baobabs.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Baobabs (aka Bottle Trees)</h1>
                    <p class="mb-4">Get up close with the Baobabs in the Flower Dome! A plant that goes by several common names, this spectacular tree is also known as the Bottle Tree – a hat-tip to its peculiar-shaped trunk – and the Tree of Life, as it provides shelter, food and clothing for African savannah inhabitants. Other plants to look out for in the Flower Dome include the Drunken Tree, Ghost Tree, as well as African Baobab — the largest tree in the Gardens! </p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/succulent garden.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Succulent Garden</h1>
                    <p class="mb-4">Venture into the desert without experiencing the heat and learn more about these prickly plants.<br><br> As water-storing desert plants, succulents belong to families such as Cacti, Aloes and Crassulas. Look closer and you’ll find that many of these species have sharp spines to protect themselves. A dense cover of blue or grey wax over the surface of their leaves and stems also helps protect them from dehydration and deflect excess UV light in the desert.</p>
                </div>
            </div>
            </div>

            </div>
>        </div>
    </div>
    <!-- Blog End -->


    