<!-- Page Header Start -->
<div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
    <div style="background: #000000;">
        <img class="img-fluid w-30" src="img/login.jpg">
    </div>
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown"><br>Log In</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                <li class="breadcrumb-item"><a class="text-body" href="#">Log In</a></li>
            </ol>
        </nav>
    </div>
    <!-- Page Header End -->
</div>
<!-- Page Header End -->

<!-- Blog Start -->
<div id="login">
    <div class="container">
        <div class="row g-5 justify-content-center">
            <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.1s"><br><br>
                <div class="section-header"><br><br>
                    <h2>Log In</h2>
                    <p>
                        Log in to remember your journeys and traverse some more!
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="login-form">
                            <form action="/authRoutes/login" method="POST">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>
                                <button class="btn btn-primary rounded-pill py-3 px-5 mt-3" type="submit">Log In</button>
                            </form>
                        </div><br>
                        <!-- alert -->
                        <% if (typeof messages !== 'undefined') { %>
                            <% if (messages.error) { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= messages.error %>
                                </div>
                            <% } %>
                            <% if (messages.success) { %>
                                <div class="alert alert-success" role="alert">
                                    <%= messages.success %>
                                </div>
                            <% } %>
                        <% } %>
                        <br>
                        <p align="center">
                            Doesn't have an account yet? <a href="/signup">Sign Up</a>
                        </p>
                        <p align="center">
                            Forgot your password? <a href="/resetpass">Reset Password</a>
                        </p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->