    <!-- Page Header Start -->
    <div class= "container-fluid img-fluid w-80" src="img/about-us-header.jpeg mb-5 wow fadeIn" data-wow-delay="0.1s">
    <img class="img-fluid w-100" src="img/GBB-wallpaper-floral-fantasy-1920x1080.jpg">  
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown"><br>Our History</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Our History</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/GBB-wallpaper-tulipmania2019-1920x1080.jpg"><br> <br>
                        <img class="img-fluid w-100" src="img/GBB-wallpaper-sunflower-surprise-2018-1920x1080.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">How we created a City in a Garden</h1>
                    <p class="mb-4">Gardens by the Bay brings to life the National Parks Board Singapore's vision of creating a City in a Garden. The Gardens captures the essence of Singapore as the premier tropical Garden City with the perfect environment in which to live and work — making Singapore a leading global city of the 21st century.<br><br>

                        In January 2006, an international master plan design competition was launched to seek world-class design ideas for Gardens by the Bay. It drew more than 70 entries submitted by 170 firms, from over 24 countries, including 35 from Singapore.


                        An 11-member Jury comprising local and international experts shortlisted eight teams and two winners were announced in September 2006; namely Grant Associates for Bay South and Gustafson Porter for Bay East, both from the UK. A decision was made to develop Bay Central later.<br><br>
                        
                        
                        A public exhibition of the master plan concepts and models of the winning teams was held in September 2006 at the Singapore Botanic Gardens. Over 10,000 people visited the exhibition and over 700 gave their feedback. An overwhelming majority 85% of those surveyed liked the features in the master plans and over 97% said they would visit the Gardens.<br><br>
                        
                        
                        Gardens by the Bay broke ground in November 2007, signalling the commencement of the Gardens’ development. Subsequently, development of Bay East Garden also commenced. It was developed as an interim garden to be used as a staging site for some of the rowing and canoeing events of the Youth Olympic Games (YOG) in August 2010. Following the YOG, Bay East underwent reinstatement works and was open to the public in October 2011.<br><br>
                        
                        
                        A special preview of Flower Dome was held in November 2011 in conjunction with the World Orchid Conference (WOC). Some 300,000 members of the public visited both WOC and Bay South Garden.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->







    