


    <!-- Page Header Start -->
    <div class= "container-fluid img-fluid w-80" src="img/about-us-header.jpeg mb-5 wow fadeIn" data-wow-delay="0.1s">
    <img class="img-fluid w-100" src="img/GBB-wallpaper-silver-garden-02-1920x1080.jpg">  
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown"><br>Our Story</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Our Story</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/GBB-wallpaper-cloud-forest-1920x1080.jpg"><br> <br>
                        <img class="img-fluid w-100" src="img/GBB-wallpaper-overview-night-02-1920x1080.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Where wonder blooms</h1>
                    <p class="mb-4">A national garden and premier horticultural attraction for local and international visitors, Gardens by the Bay is a showpiece of horticulture and garden artistry that presents the plant kingdom in a whole new way, entertaining while educating visitors with plants seldom seen in this part of the world, ranging from species in cool, temperate climates to tropical forests and habitats.<br><br>
                        Gardens by the Bay is an independent organisation responsible for developing and managing one of Asia’s foremost garden destinations. <br><br>

                        The Gardens is led by a multidisciplinary team of professionals who have been involved in the greening of Singapore and had worked alongside international and local experts to develop the Gardens. It has an in-house team of skilled landscape designers, horticulturists, arborists, engineers, plant health, garden and turf management experts, as well as plant research and orchid breeding professionals, who leverage on the extensive global network of plant sources cultivated during the development days, to continuously curate and grow the Gardens.<br><br>
                        
                        Guided by its vision to be a world of gardens for all to own, enjoy and cherish, Gardens by the Bay has earned numerous awards and accolades including the World Building of the Year in 2012, the President’s Design Award (Singapore) in 2013, the Outstanding Achievement Award by the Themed Entertainment Association in 2014, the Largest Glass Greenhouse (Flower Dome) in the Guinness World Records for 2015, and the TripAdvisor Certificate of Excellence in 2016. These achievements are testament to the ongoing excellence of the Gardens and spur the team towards attaining greater success.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->







    