


    <!-- Page Header Start -->
    <div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
        <img class="img-fluid w-100" src="img/serene-garden-02.jpg"> 
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown"><br>Serene Garden</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Serene Garden</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/serene-garden-2019-3-1670x940.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Bismarckias</h1>
                    <p class="mb-4">Native to Madagascar, the Bismarckias are monotypic—meaning they are the one and only species in their genus! Find these silvery-leafed palm trees at the central water feature, where they proudly fan out their singular beauty.</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/serene-garden-2019-pj1-1670x940.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Podocarpus and Junipers</h1>
                    <p class="mb-4">Take in a sense of peace admiring these elegant trees, long associated with traditional Japanese Zen gardens. Their interesting forms lend well to the art of bonsai, which is why the Junipers have been meticulously pruned by horticulture specialists to look like typical bonsai trees from Japan!</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/serene-garden-2019-b1-1670x940.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Bamboos</h1>
                    <p class="mb-4">Raved as one of the most sustainable materials on earth, the Bamboo is in fact the world’s fastest growing land plant. Despite its stupendous prowess, the Bamboo is never “loud”. Feel their quiet demeanour at the Serene Garden and immerse in a sense of serenity with these discreet beauties.</p>
                </div>
            </div>
            </div>

            </div>
>        </div>
    </div>
    <!-- Blog End -->


    