


    <!-- Page Header Start -->
    <div class="container-fluid wow fadeIn" data-wow-delay="0.1s">
        <img class="img-fluid w-100" src="img/supertree-observatory-02.jpg"> 
        <div class="container">
            <h1 class="display-3 mb-3 animated slideInDown"><br>Supertree Observatory</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a class="text-body" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-body" href="#">Things To Do</a></li>
                    <li class="breadcrumb-item text-dark active" aria-current="page">Supertree Observatory</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Blog Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/supertree-observatory3-1670x940.jpg.renderimage.455.256.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Open-air Rooftop Deck</h1>
                    <p class="mb-4">Take in unobstructed views of the Gardens, set against Singapore’s cityscape and Marina Reservoir’s pristine waters. Be sure to drop by in the evening as well to admire our photogenic skyline, gently illuminated against the fabric of the night.</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/supertree-observatory2-1670x940.jpg.renderimage.455.256.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Observatory Deck</h1>
                    <p class="mb-4">Find the observatory area one level below the Open Rooftop Deck. Enjoy views of the Gardens as well as a digital experience themed around climate change in the air-conditioned comfort of the indoor viewing space. Or head outdoors to catch a breath of fresh air and get even closer for that scenic, insta-worthy shot!</p>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div>
                        <img class="img-fluid w-100" src="img/garden-rhapsody-through-asia1670x940.jpg.renderimage.550.309.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Garden Rhapsody</h1>
                    <p class="mb-4">Keep your eyes peeled and ears tuned in for a stupendous “live performance” by the Supertrees! Be dazzled as these titanic beacons light up in perfect synchrony with curated soundtracks choreographed specially for the Gardens. Catch the free Garden Rhapsody shows at the Supertree Grove, happening at 7.45pm and 8.45pm nightly!</p>
                </div>
            </div>
            </div>

            </div>
>        </div>
    </div>
    <!-- Blog End -->


    